* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  margin: 0;
	padding: 0;
	border: 0;
  overflow-x: clip;
}

#hp_middle {
  background-image: url(../img/flagslogan.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 88vh;
}

menu, ul {
  margin: 20px;
  padding: 0;  
  color: white;  
}
  
menu ul {
  list-style-type: none;
  font-size: 2em;
  line-height: 4em;
  text-align: right;
  margin: 20vh 0 0 0;
  text-shadow: 2px 2px 0px black;
  font-family: sans-serif;
  letter-spacing: 2px;
}

/* Index page */

#hp_logo {
  height: 10vh;
  margin: 0 1vw;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  position: relative;
  z-index: 1;
  font-family: 'Deutsche Zierschrift', sans-serif;
}

main {
  font-family: 'Cinzel', serif;
  height: 85vh;
}

h1 {
  display: inline-block;
  margin: auto;
  font-size: 5em;
  width: 75.5vw;
  text-align: center;
  font-size: 8vh;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: white;
}

/* Services page */

#services_middle {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: overlay;
}

li {
  float: left;
}

.insideMenu {
  display: flex;
  justify-content: space-around;
  margin: 0px;
  background-color: grey;
  padding: 2px;
}

/* About Us page */

.bio {
  width: 92vw;
  background: tan;
  border-radius: 10px;
  padding: 8px;
  margin: 15px 0 0 0;
  border: 2px solid white;
  text-shadow: 0 0 black;
}

.about {
  width: 400px;
  height: 300px;
  float: left;
  margin: 3px 10px;
  border: 1px solid black;
}

.aboutface {
  float: right;
}

.red {
  color: red;
}

.white {
  color: white;
}

.blue {
  color: blue;
}

/* Services page */

#services_page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: navy;
  height: 88vh;
}

.serviceSharpening {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 20px 0 0 0;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  font-size: 18px;
  width: 94vw;
}

.service h2 {
  text-align: center;
  color: black;
  margin: 5px auto;
}

.ser_img, .ser_imgSharpening {
  /* width: 580px; */
  /* height: 150px; */
  margin: 0 auto 5px auto;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.ser_imgSharpening {
  height: 54vh;
}

.service p {
  margin: 0px;
  color: black;
}

/* Start Remove this */

.menu{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  position: relative;
  z-index: 5;
  width: 100vw;
  height: 3vh;
}

.menu ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: silver;
  height: 25px;
  line-height: 25px;
  border: 1px solid grey;
  height: 3vh;
}

.menu ul li{
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  width: 24vw;
  text-align: center;
}

.menu ul li a{
  margin: 0;
  padding: 0 10px;
  text-decoration: none;
  color: #000000;
  display: block;
  font-weight: bold;
  font-size: 12px;
}


.menu ul li:hover ul{ display:block;}

.menu ul li ul{
  position: absolute;
  left: 0;
  top: 23px;
  display: none;
  padding: 0;
  width: 100%;
}

.menu ul li ul li{
  padding: 2px 0 0 0;
  background: lightgray;
  width: 100%;
  border-bottom: 1px solid grey;
}

/* end Remove this */

html, body {margin: 0; height: 100%; overflow: hidden}

/* Test Body */
#testbody {
  background-image: url(../img/we_the_people.jpg);
  height: 86vh;
  border: 1px solid red;
}

body {
  background: darkblue;
}

header {
  background-color: white;
}


#parchment {
  position: fixed;
  width: 100%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 2em 0;
  box-shadow: 1px 1px 1px black, 0 0 30px #8f5922 inset;
  background: #D3BDA3;
  height: 100vh;
}

#verbiage {
  position: relative;
  z-index: 1;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* overflow: overlay ; */
  height: 62vh;
}

#wtp {
  /* display: inline-flex; */
  background-image: url(../img/we_the_people_400px.webp);
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  margin: 0px 0vw 0 0vw;
  height: 25vh;
  background-size: 100% 100%;
  filter: saturate(0.4);
}

#serv_name {
  display: inline-block;
  contain: content;
  color: white;
  vertical-align: top;
  margin: 10px;
  width: 40vw;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 10px;
  font-size: 3em;
  text-align: center;
  min-width: 400px;
}

#serv_img {
  height: 22vh;  
  position: relative;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: xxx-large;
  text-align: center;
}

#serv_desc {
  contain: content;
  color: white;
  vertical-align: top;
  margin: 10px;
  float: right;
  width: 48vw;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 10px;
  min-width: 400px;
}

p {
  margin-bottom: 10px;
}


@media screen and (max-width: 980px) {
  h1 {
    font-size: 6vh;
  }

  #hp_middle {
    background-size: 100% 100%;
  }  
}

@media screen and (max-width: 920px) {
  h1 {
    font-size: 5vh;
  }

  #hp_middle {
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 580px) {

  #hp_middle {
    background-size: cover;
  }
  
  menu, ul {
    margin: 0;
  }  

  menu ul {
    line-height: 2em;
    margin: 53vh 0 0 0;
    text-shadow: 2px 2px 0px black;
    font-family: sans-serif;
    letter-spacing: 2px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  #hp_middle {
    background-size: cover;
  }

  menu, ul {
    margin: 0;
  }  

  menu ul {
    line-height: 2em;
    margin: 53vh 0 0 0;
    text-align: center;
  }

}




@media screen {
  .about {
    width: clamp(250px, 86vw, 400px);
    height: auto;
    margin: 3px 10px;
    border: 1px solid black;
  }

  .bio {
    padding: 8px 0;
  }

  footer {
    background-color: white; /* #D3BDA3 */
    text-align: center;
    color: black;
    height: 2vh;
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: 2;
  }

  #vpResult {
    display: none;
  }
}

/* Width < 850 px */
@media (max-width: 850px) {

  header, #hp_logo {
    height: 10vh;
  }

  h1 {
    font-size: 8vw;
  }

  .menu ul {
    line-height: 26px;
  }

  #serv_name {
    margin: 5px;
    min-width: 98vw;
    padding: 0px;
    font-size: 3em;
  }

  #serv_desc {
    margin: 17.5vh 5px 0 5px;
    font-size: 0.85em;
    min-width: 98vw;
    height: auto;
  }

  #verbiage {
    overflow: visible;
    display: block;
}

  .serviceSharpening {
    margin: 100px 0 0 0;
    padding: 0;
    width: 100vw;
}

  .ser_imgSharpening {
    height: auto;
    width: clamp(300px,94vw, 800px);
  }

  .bio {
    width: 92vw;
    background: tan;
    border-radius: 10px;
    padding: 8px;
    margin: 15px 0 0 0;
    border: 2px solid white;
    text-shadow: 0 0 black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about {
    width: clamp(250px, 86vw, 400px);
    height: auto;
    float: left;
    margin: 3px 10px;
    border: 1px solid black;
  }
}

/* Surface Duo: 540 x 720 */
@media screen and (max-width: 540px) and (max-height: 720px) {

  header, #hp_logo {
    height: 10vh;
  }

  h1 {
    font-size: 8vw;
  }

  .menu ul {
    line-height: 19px;
  }

  #serv_name {
    margin: 5px;
    min-width: 98vw;
    padding: 0px;
    font-size: 3em;
  }

  #serv_desc {
    margin: 108px 5px 0 5px;
    font-size: 0.85em;
    min-width: 98vw;
    height: auto;
  }

  #verbiage {
    overflow: visible;
    display: block;
}

  .serviceSharpening {
    margin: 100px 0 0 0;
    padding: 0;
    width: 100vw;
}

  .ser_imgSharpening {
    height: auto;
    width: clamp(300px,94vw, 800px);
  }

  .bio {
    width: 92vw;
    background: tan;
    border-radius: 10px;
    padding: 8px;
    margin: 15px 0 0 0;
    border: 2px solid white;
    text-shadow: 0 0 black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about {
    width: clamp(250px, 86vw, 400px);
    height: auto;
    float: left;
    margin: 3px 10px;
    border: 1px solid black;
  }
}

/* iPhone XR: 414 x 896 */
@media (max-width: 414px) and (max-height: 896px) {

  header {
    height: 6vh;
  }

  #hp_logo {
    height: 6vh;
  }

  h1 {
    font-size: 8vw;
  }

  .menu ul {
    line-height: 26px;
  }

  .menu ul li ul {
    width: auto;
  }

  #wtp {
    display: inline-flex;
    width: 100vw;
    flex-direction: column;
    height: 20vh;
}

  #serv_name {
    margin: 5px;
    min-width: 97vw;
    padding: 0px;
    font-size: 3em;
  }

  #serv_desc {
    margin: 110px 5px 0 5px;
    font-size: 0.9em;
    min-width: 97vw;
    height: auto;
  }

  .serviceSharpening {
    margin: 150px 0 0 0;
    padding: 0;
  }

  .ser_imgSharpening {
    height: auto;
    width: clamp(300px,94vw, 800px);
  }
}

/* Samsung Galaxy: 412 x 915 */
@media (max-width: 412px) and (max-height: 715px) {

  header {
    height: 6vh;
  }

  #hp_logo {
    height: 6vh;
  }

  h1 {
    font-size: 8vw;
  }

  .menu ul {
    line-height: 20px;
  }

  .menu ul li ul {
    width: auto;
  }

  #wtp {
    display: inline-flex;
    width: 100vw;
    flex-direction: column;
    height: 21vh;
}

  #serv_name {
    margin: 5px;
    min-width: 97vw;
    padding: 0px;
    font-size: 3em;
  }

  #serv_desc {
    margin: 80px 5px 0 5px;
    font-size: 0.85em;
    min-width: 97vw;
    height: auto;
  }

  .serviceSharpening {
    margin: 150px 0 0 0;
    padding: 0;
  }

  .ser_imgSharpening {
    height: auto;
    width: clamp(300px,94vw, 800px);
  }

}

/* Pixel 5: 393 x 851 */
@media (max-width: 393px) and (max-height: 851px) {

  header {
    height: 6vh;
  }

  #hp_logo {
    height: 6vh;
  }

  h1 {
    font-size: 8vw;
  }

  .menu ul {
    line-height: 25px;
  }

  .menu ul li ul {
    width: auto;
  }

  #serv_name {
    margin: 5px;
    min-width: 97vw;
    padding: 0px;
    font-size: 2.5em;
  }

  #serv_desc {
    margin: 118px 5px 0 5px;
    font-size: 0.85em;
    min-width: 97vw;
    height: auto;
  }

  .serviceSharpening {
    margin: 150px 0 0 0;
    padding: 0;
  }

  .ser_imgSharpening {
    height: auto;
    width: clamp(300px,94vw, 800px);
  }
}

/* iPhone SE: 375 x 667  */
@media (max-width: 376px) and (max-height: 668px) {

  header {
    height: 6vh;
  }

  #hp_logo {
    height: 6vh;
  }

  h1 {
    font-size: 8vw;
  }

  .menu ul {
    line-height: 19px;
  }

  .menu ul li ul {
    top: 18px;
    width: auto;
  }

  #serv_name {
    margin: 5px;
    min-width: 97vw;
    padding: 0px;
    font-size: 2.5em;
  }

  #serv_desc {
    margin: 80px 5px 0 5px;
    font-size: 0.85em;
    min-width: 97vw;
    height: auto;
  }

  .serviceSharpening {
    margin: 150px 0 0 0;
    padding: 0;
  }

  .ser_imgSharpening {
    height: auto;
    width: clamp(300px,94vw, 800px);
  }
}

/* Samsung Galaxy S8: 360 x 740 */
@media screen and (max-width: 360px) and (max-height: 740px) {

  header {
    height: 6vh;
  }

  #hp_logo {
    height: 6vh;
  }

  h1 {
    font-size: 8vw;
  }

  .menu ul {
    line-height: 22px;
  }

  .menu ul li ul {
    width: auto;
}

  #serv_name {
    margin: 5px;
    min-width: 97vw;
    padding: 0px;
    font-size: 2em;
  }

  #serv_desc {
    margin: 105px 5px 0 5px;
    font-size: 0.85em;
    min-width: 97vw;
    height: auto;
  }

  .serviceSharpening {
    margin: 150px 0 0 0;
    padding: 0;
  }

  .ser_imgSharpening {
    height: auto;
    width: clamp(300px,94vw, 800px);
  }
}

/* Galaxy Fold: 280 x 653 */
@media screen and (max-width: 280px) and (max-height: 653px) {

  header {
    height: 6vh;
  }

  #hp_logo {
    height: 6vh;
  }

  h1 {
    font-size: 8vw;
  }

  .menu ul {
    line-height: 19px;
  }

  #serv_name {
    margin: 5px;
    min-width: 97vw;
    padding: 0px;
    font-size: 2em;
  }

  #serv_desc {
    margin: 87px 5px 0 5px;
    font-size: 0.75em;
    min-width: 97vw;
    height: auto;
  }

  .serviceSharpening {
    margin: 150px 0 0 0;
    padding: 0;
  }

  .ser_imgSharpening {
    height: auto;
    width: clamp(250px,94vw, 800px);
  }

  .menu ul li a {
    font-size: 9px;
  }
}
