* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  margin: 0;
	padding: 0;
	border: 0;
  overflow-x: clip;
}

menu, ul {
  margin: 20px;
  padding: 0;  
  color: white;  
}
  
menu ul {
  list-style-type: none;
  font-size: 2em;
  line-height: 4em;
  text-align: right;
  margin: 20vh 0 0 0;
  text-shadow: 2px 2px 0px black;
  font-family: sans-serif;
  letter-spacing: 2px;
}

#hp_logo {
  height: 10vh;
  margin: 0 1vw;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  position: relative;
  z-index: 1;
  font-family: 'Deutsche Zierschrift', sans-serif;
  background-color: white;
}

main {
  font-family: 'Cinzel', serif;
  height: 85vh;
}

h1 {
  display: inline-block;
  margin: auto;
  font-size: 5em;
  width: 75.5vw;
  text-align: center;
  font-size: 8vh;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: white;
}

#services_middle {
  width: 100%;
  height: 88vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: overlay;
}

li {
  float: left;
}

.insideMenu {
  display: flex;
  justify-content: space-around;
  margin: 0px;
  background-color: grey;
  padding: 2px;
}

/* About Us page */

.bio {
  width: 92vw;
  background: tan;
  border-radius: 10px;
  padding: 8px;
  margin: 15px 0 0 0;
  border: 2px solid white;
  text-shadow: 0 0 black;
}

.about {
  width: 400px;
  height: 300px;
  float: left;
  margin: 3px 10px;
  border: 1px solid black;
}

.aboutface {
  float: right;
}

.red {
  color: red;
}

.white {
  color: white;
}

.blue {
  color: blue;
}

#services_page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: navy;
  height: 88vh;
}

.serviceContent {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 20px 0 0 0;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  font-size: 18px;
  width: 94vw;
}

.service h2 {
  text-align: center;
  color: black;
  margin: 5px auto;
}

.ser_img, .ser_imgSharpening {
  margin: 0 auto 5px auto;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.ser_imgSharpening {
  height: 54vh;
}

.service p {
  margin: 0px;
  color: black;
}

.menu{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  position: relative;
  z-index: 5;
  width: 100vw;
  height: 3vh;
}

.menu ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: silver;
  height: 25px;
  line-height: 25px;
  border: 1px solid grey;
  height: 3vh;
}

.menu ul li{
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  width: 24vw;
  text-align: center;
}

.menu ul li a{
  margin: 0;
  padding: 0 10px;
  text-decoration: none;
  color: #000000;
  display: block;
  font-weight: bold;
  font-size: 12px;
}


.menu ul li:hover ul{ display:block;}

.menu ul li ul{
  position: absolute;
  left: 0;
  top: 23px;
  display: none;
  padding: 0;
  width: 100%;
}

.menu ul li ul li{
  padding: 2px 0 0 0;
  background: lightgray;
  width: 100%;
  border-bottom: 1px solid grey;
}

html, body {margin: 0; height: 100%; overflow: hidden}

/* #testbody {
  background-image: url(../img/we_the_people.jpg);
  height: 86vh;
  border: 1px solid red;
} */

body {
  background: darkblue;
}

#parchment {
  position: fixed;
  width: 100%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 2em 0;
  box-shadow: 1px 1px 1px black, 0 0 30px #8f5922 inset;
  background: #D3BDA3;
  height: 100vh;
}

#verbiage {
  position: relative;
  z-index: 1;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 62vh;
  align-content: flex-start;
}

#wtp {
  background-image: url(../img/we_the_people_400px.webp);
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  margin: 0px 0vw 0 0vw;
  height: 25vh;
  background-size: 100% 100%;
  filter: saturate(0.4);
}

#serv_name, #serv_name1 {
  display: inline-block;
  contain: content;
  color: white;
  vertical-align: top;
  margin: 10px;
  width: 40vw;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 10px;
  font-size: 3em;
  text-align: center;
  min-width: 400px;
}

#serv_img {
  height: 22vh;  
  position: relative;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: xxx-large;
  text-align: center;
}

#serv_desc {
  contain: content;
  color: white;
  vertical-align: top;
  margin: 10px;
  float: right;
  width: 48vw;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 10px;
  min-width: 400px;
}

p {
  margin-bottom: 10px;
}

address {
  color: black;
  font-size: xx-large;
}

.linkspage {
  align-items: flex-start !important;
  font-size: 3.5vw !important;
}

.linkspage a, .contactUs a {
  text-decoration: underline;
  color: blue;
}

.contactUs {
  font-size: x-large
}

@media screen and (width >= 850px) {
  h1 {
    font-size: 4em;
  }

  #vpResult {
    display: none;
  }

  #serv_name, #serv_name1 {
    font-size: clamp(2em, 4vw, 3em)
  }

  #serv_desc {
    line-height: 1.1em;
  }

  
  .twoColumn_content {
    display: flex;
    flex-direction: row;
    color: white;
    margin: 20px 0 0 0;
    padding: 10px;
    border-radius: 0px;
    align-items: inherit;
    font-size: 18px;
    width: 48%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
  }

  .twoColumn_img, .threeColumn_img {
    width: 100%;
    height: max-content;
    margin: 0;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
  }

  .threeColumn_content {
      width: 30% !important;
  }

  .contactUs {
    font-size: x-large
  }

  footer {
    background-color: white; /* #D3BDA3 */
    text-align: center;
    color: black;
    height: 2vh;
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: 2;
    font-size: 0.8em;
  }
}


@media screen and (600px <= width < 850px) {
  .about {
    width: clamp(250px, 86vw, 400px);
    height: auto;
    margin: 3px 10px;
    border: 1px solid black;
  }

  .bio {
    padding: 8px 0;
  }

  footer {
    background-color: white; /* #D3BDA3 */
    text-align: center;
    color: black;
    height: 2vh;
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: 2;
    font-size: 0.8em;
  }

  #vpResult {
    display: none;
  }

  header {
    height: clamp(3em,7vh,10vh);
  }

  #hp_logo {
    height: 4em;
  }

  h1 {
    font-size: 3em;
  }

  .menu {
    height: 1.5em;
}

  .menu ul {
    height: 1.5em;
  }

  .menu ul li ul li {
    width: clamp(120px,100%,100%);
  }

  #wtp {
    display: inline-flex;
    height: auto;
    background-size: 100% 12em;
    flex-direction: column;
    width: 100vw;
  }

  #serv_name, #serv_name1 {
    display: block;
    margin: 10px auto;
    width: 98vw;
    padding: 0px;
    font-size: 3em;
    text-align: center;
    min-width: 280px;
  }

  #serv_desc {
    display: block;
    margin: 7em auto 2px auto;
    width: 98vw;
    padding: 2px 5px;
    min-width: 280px;
  }

  #verbiage {
    position: relative;
    z-index: 1;
    overflow: auto;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 96vw;
    margin: 5px auto;
}

  .serviceContent {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0px auto 10px auto;
    padding: 0px;
    border-radius: 0px;
    align-items: center;
    font-size: 18px;
}

  .ser_imgSharpening {
    margin: auto;
    width: 94vw;
    height: auto;
  }

  .contactUs {
    font-size: 3.5vw;
  }
}

@media screen and (width < 600px) {
  .about {
    width: clamp(250px, 86vw, 400px);
    height: auto;
    margin: 3px 10px;
    border: 1px solid black;
  }

  .bio {
    padding: 8px 0;
  }

  footer {
    background-color: white; /* #D3BDA3 */
    text-align: center;
    color: black;
    height: 2vh;
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: 2;
    font-size: 0.8em;
  }

  #vpResult {
    display: none;
  }

  header {
    height: clamp(3em,7vh,10vh);
  }

  #hp_logo {
    height: 3em;
  }

  h1 {
    font-size: clamp(1em,8vw,3em)
  }

  .menu {
    height: 1.5em;
}

  .menu ul {
    height: 1.5em;
  }

  .menu ul li ul li {
    width: clamp(120px,100%,100%);
  }

  #wtp {
    display: inline-flex;
    height: auto;
    background-size: 100% 10em;
    flex-direction: column;
    width: 100vw;
  }

  #serv_name, #serv_name1 {
    margin: 5px auto;
    width: 96vw;
    font-size: clamp(1em,10vw,3em);
    min-width: fit-content;
  }

  #serv_desc {
    margin: 7.2em auto 0 auto;
    width: 96vw;
    min-width: auto;
    font-size: clamp(10px, 12px, 12px);
  }

  #verbiage {
    position: relative;
    z-index: 1;
    overflow: auto;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 96vw;
    margin: 5px auto;
}

  .serviceContent {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0px auto 10px auto;
    padding: 0px;
    border-radius: 0px;
    align-items: center;
    font-size: 18px;
}

  .ser_imgSharpening {
    margin: auto;
    width: 94vw;
    height: auto;
  }

  .contactUs {
    font-size: 3.5vw;
  }
}