/* Box Model Hack */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  margin: 0;
	padding: 0;
	border: 0;
  overflow-x: clip;
}

#hp_middle {
  background-image: url(../img/flagslogan.jpg);
  background-repeat: no-repeat;
  /* background-size: contain; */
  /* background-size: 100vw; */
  background-size: 100% 100%;
  height: 88vh;
}

menu, ul {
  margin: 20px;
  padding: 0;  
  color: white;  
}
  
menu ul {
  list-style-type: none;
  font-size: 2em;
  line-height: 4em;
  text-align: right;
  margin: 20vh 0 0 0;
  text-shadow: 2px 2px 0px black;
  font-family: sans-serif;
  letter-spacing: 2px;
}

/* Index page */

#hp_logo {
  height: 10vh;
  margin: 0 1vw;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  position: relative;
  z-index: 1;
}

h1 {
  display: inline-block;
  margin: auto;
  font-size: 5em;
  width: 75.5vw;
  /* border: 1px solid red; */
  text-align: center;
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  height: 2vh;
}

a {
  text-decoration: none;
  color: white;
}

/* Services page */

.services_middle {
  /* background-image: url(../img/flagslogan.jpg); */
  /* background-image: url(../img/we_the_people.jpg); */
  /* background-image: url(../img/we_the_people.jpg); */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  /* background-size: 100vw; */
  /* background-size: 100% 100%; */
  /* background-color: navy; */
  height: 88vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul {
  /* display: none; */
}

li {
  float: left;
}

.insideMenu {
  display: flex;
  justify-content: space-around;
  margin: 0px;
  background-color: grey;
  padding: 2px;
}

/* About Us page */

.bio {
  width: 92vw;
  /* height: 25vh; */
  background: tan;
  border-radius: 10px;
  padding: 8px;
  margin: 15px 0 0 0;
  border: 2px solid white;
}

.about {
  width: 145px;
  height: 160px;
  float: left;
  margin: 3px 10px;
}

.aboutface {
  float: right;
}

.red {
  color: red;
}

.white {
  color: white;
}

.blue {
  color: blue;
}

/* Services page */

#services_page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: navy;
  height: 88vh;
}

.service {
  display: flex;
  flex-direction: column;
  color: white;
  width: 400px;
  margin: 20px 0 0 0;
  /* background-color: red; */
  /* border: 2px solid white; */
  padding: 10px;
  border-radius: 10px;
}

.service h2 {
  text-align: center;
  color: black;
  margin: 5px auto;
}

.ser_img {
  width: 280px;
  height: 150px;
  margin: 0 auto 5px auto;
  border-radius: 10px;
  border: 1px solid black;
}

.service p {
  margin: 0px;
  color: black;
}

/* Start Remove this */

.menu{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  position: relative;
  z-index: 5;
  width: 100vw;
}

.menu ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: silver;
  height: 25px;
  line-height: 25px;
  border: 1px solid grey;
}

.menu ul li{
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  width: 24vw;
  text-align: center;
}

.menu ul li a{
  margin: 0;
  padding: 0 10px;
  text-decoration: none;
  color: #000000;
  display: block;
  font-weight: bold;
  font-size: 12px;
}


.menu ul li:hover ul{ display:block;}

.menu ul li ul{
  position: absolute;
  left: 0;
  top: 23px;
  display: none;
  padding: 0;
  width: 100%;
}

.menu ul li ul li{
  padding: 2px 0 0 0;
  background: lightgray;
  /* height: 25px; */
  /* line-height: 25px; */
  width: 100%;
  border-bottom: 1px solid grey;
}


/* end Remove this */

html, body {margin: 0; height: 100%; overflow: hidden}

/* Test Body */
#testbody {
  background-image: url(../img/we_the_people.jpg);
  height: 86vh;
  border: 1px solid red;
}

body {
  background: darkblue;
}

header {
  background-color: white;
}


#parchment {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 2em 0;
  /* padding: 4em; */
  /* box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset; */
  box-shadow: 1px 1px 1px black, 0 0 30px #8f5922 inset;
  /* background: #fffef0; */
  background: #D3BDA3;
  /* filter: url(#real1); */
  height: 100vh;
}

#verbiage {
  position: relative;
  z-index: 1;
  /* margin: 0 8vw; */
  overflow: auto;
}

/* #wtp {
  background-image: url(../img/we_the_people.webp), url(../img/we_the_people_flag.webp);
  position: relative;
  z-index: 1;
  height: 15vh;
  background-repeat: no-repeat;
  background-position: center;
  margin: 15px 8vw 0 8vw;
  background-size: contain;
} */

/* #wtp {
  background-image: url(../img/we_the_people_400px.webp);
  position: relative;
  z-index: 1;
  height: 15vh;
  background-repeat: no-repeat;
  margin: 15px 5vw 0 5vw;
  height: 45vh;
  background-size: contain;
} */

#wtp {
  background-image: url(../img/we_the_people_400px.webp);
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  margin: 0px 0vw 0 0vw;
  height: 35vh;
  background-size: 100% 100%;
  filter: saturate(0.4);
}

#serv_img {
  width: 35vw;
  height: 160px;
  position: relative;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid white;
  /* filter: brightness(2); */
  display: inline-block;
}

#serv_desc {
  height: 160px;
  color: white;
  vertical-align: top;
  margin: 10px;
  float: right;
  width: 50vw;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 10px;
}

@media screen and (max-width: 980px) {
  h1 {
    font-size: 8vw;
  }

  #hp_middle {
    /* background-size: cover; */
    background-size: 100% 100%;
  }
  
}

@media screen and (max-width: 800px) {
  h1 {
    /* font-size: 3em; */
    font-size: 8vw;
  }

  #hp_middle {
    /* background-size: cover; */
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 580px) {
  h1 {
    /* font-size: 2.5em; */
    font-size: 8vw;
  }

  #hp_middle {
    background-size: cover;
    /* background-size: 100% 100%; */
  }

  
  menu, ul {
    margin: 0;
  }  

  menu ul {
    line-height: 2em;
    margin: 53vh 0 0 0;
    text-shadow: 2px 2px 0px black;
    font-family: sans-serif;
    letter-spacing: 2px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    /* font-size: 2em; */
    font-size: 8vw;
  }
  #hp_middle {
    background-size: cover;
  }

  menu, ul {
    margin: 0;
  }  

  menu ul {
    line-height: 2em;
    margin: 53vh 0 0 0;
    text-align: center;
  }

}



@media screen and (max-width: 400px) {
  h1 {
    /* font-size: 1.9em; */
    font-size: 8vw;
  }

  #hp_middle {
    background-size: 100vh;
  }
  menu, ul {
    color: white;  
  }

  menu ul {
    line-height: 2em;
  }
}

@media screen and (max-width: 375px) {

  #hp_middle {
    background-size: 860px;
  }


  menu ul {
    line-height: 2em;
    margin: 49vh 0 0 0;
    letter-spacing: 2px;
  }
}