/* Box Model Hack */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
	padding: 0;
	border: 0;
  height: 100vh;
  width: 100vw;
  background: black;
}

header, h1 {
  display: flex;
  align-items: center;
  /* font-family: 'Monsieur La Doulaise', cursive; */
  font-family: 'Deutsche Zierschrift', sans-serif;
  background: white;
  height: 16vh;
}

h1 {
  margin: auto;
  font-size: clamp(40px, 8vw, 90px);
  contain: content;
}

main {
  height: calc((100vh - 16vh) - 3vh);
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  /* height: 2vh; */
  padding: 5px 0 0 0;
}

#hp_middle {
  background-image: url(../img/flagslogan.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* height: 88vh; */
  height: calc(100vh - 16vh - 2vh);
}

menu {
  margin: 20px;
  padding: 0;  
  color: white;  
  list-style-type: none;
  font-size: 2em;
  line-height: min(14vh, 4em);
  text-align: right;
  margin-top: calc(100vh - 2vh - 90vh);
  text-shadow: 2px 2px 0px black;
  font-family: sans-serif;
  letter-spacing: 2px;
  width: 200px;
  float: right;
  position: relative;
 /* border: 1px solid white; */
}

/* Index page */

#hp_logo {
  height: 100%;
  margin: 0 1vw;
}

/* #hp_top {
  display: flex;
  align-items: center;
  font-family: 'Monsieur La Doulaise', cursive;
  background: white;
  height: 16vh;
} */

/* h1 {
  display: inline-block;
  margin: auto;
  font-size: 5em;
  width: 75.5vw;
  text-align: center;
} */

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0 2vw;
}

#services {
  cursor: pointer;
}

#services_list {
  display: none;
  position: absolute;
  text-align: center;
  right: 200px;
  background: rgba(255, 255, 255, .4);
  /* border: 1px solid red; */
  line-height: 1em;
  padding: 0;
  top: 0vh;
  margin: 0;
}

#services_list li {
  margin: auto;
  padding: 5px 10px;
  border-bottom: 1px solid black;
  position: relative;
  width: 100%;
  text-align: center;
}

/* From Internal css. */
@media screen and (width >= 600px) {
  h1 {
    font-size: clamp(2em, 8vw, 8em);
  }

  #vpResult {
    display: none;
  }

  #serv_name {
    font-size: clamp(2em, 4vw, 3em)
  }

  #serv_desc {
    line-height: 1.1em;
  }
}

/* From Internal css. */
@media screen and (width < 600px) {
  footer {
    background-color: white; /* #D3BDA3 */
    text-align: center;
    color: black;
    height: 3vh;
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: 2;
    font-size: .85rem;
  }

  header {
    height: clamp(3em, 10vh, 6em);
  }

  #hp_logo {
    height: clamp(2em, 4em, 5em);
    margin: 0 2vw;
  }

  h1 {
    font-size: clamp(1em,8vw,3em);
    height: auto;
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  #services_list {
    position: initial;
  }

  #services_list li {
    padding: 2px 10px;
  }

  menu {
    line-height: 2em;
    margin: 53vh auto 0 auto;
    text-shadow: 2px 2px 0px black;
    font-family: sans-serif;
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.8em;
    float: none;
  }

  menu ul {
      letter-spacing: 0px;
  }

  main {
    height: 87vh;
    display: flex;
    flex-direction: column;
  }

  #hp_middle {
    height: 87vh;
    background-size: 250vw 87vh;
  }


}

