/* Box Model Hack */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
	padding: 0;
	border: 0;
  height: 100vh;
  width: 100vw;
  background: black;
}

header {
  display: flex;
  align-items: center;
  font-family: 'Monsieur La Doulaise', cursive;
  background: white;
  height: 16vh;
}

main {
  height: calc((100vh - 16vh) - 3vh);
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  height: 2vh;
}

#hp_middle {
  background-image: url(../img/flagslogan.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* height: 88vh; */
  height: calc(100vh - 16vh - 2vh);
}

menu {
  margin: 20px;
  padding: 0;  
  color: white;  
  list-style-type: none;
  font-size: 2em;
  line-height: min(14vh, 4em);
  text-align: right;
  margin-top: calc(100vh - 2vh - 90vh);
  text-shadow: 2px 2px 0px black;
  font-family: sans-serif;
  letter-spacing: 2px;
  width: 200px;
  float: right;
  position: relative;
 /* border: 1px solid white; */
}

/* Index page */

#hp_logo {
  height: 100%;
  margin: 0 1vw;
}

/* #hp_top {
  display: flex;
  align-items: center;
  font-family: 'Monsieur La Doulaise', cursive;
  background: white;
  height: 16vh;
} */


h1 {
  display: inline-block;
  margin: auto;
  font-size: 5em;
  width: 75.5vw;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0 2vw;
}

#services {
  cursor: pointer;
}

#services_list {
  display: none;
  position: absolute;
  text-align: center;
  right: 200px;
  background: rgba(255, 255, 255, .4);
  /* border: 1px solid red; */
  line-height: 1em;
  padding: 0;
  top: 0vh;
  margin: 0;
}

#services_list li {
  margin: auto;
  padding: 5px 10px;
  border-bottom: 1px solid black;
  position: relative;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 980px) {
  h1 {
    font-size: 8vw;
  }

  #hp_middle {
    background-size: 100% 100%;
  }
  
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 8vw;
  }

  #hp_middle {
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 580px) {
  h1 {
    font-size: 8vw;
  }

  #hp_middle {
    background-size: cover;
  }

  
  menu {
    margin: 0;
  }  

  menu {
    line-height: 2em;
    /* margin: 53vh 0 0 0; */
    margin-top: calc(100vh - 2vh - 90vh);
    text-shadow: 2px 2px 0px black;
    font-family: sans-serif;
    letter-spacing: 2px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 8vw;
  }
  #hp_middle {
    background-size: cover;
  }

  menu {
    margin: 0;
  }  

  menu ul {
    line-height: 2em;
    margin: 53vh 0 0 0;
    text-align: center;
  }

}


@media screen and (max-width: 400px) {
  h1 {
    font-size: 8vw;
  }

  #hp_middle {
    background-size: 100vh;
  }
  menu, ul {
    color: white;  
  }

  menu ul {
    line-height: 2em;
  }
}

@media screen and (max-width: 375px) {

  #hp_middle {
    background-size: 860px;
  }

  menu ul {
    line-height: 2em;
    margin: 49vh 0 0 0;
    letter-spacing: 2px;
  }
}